.local/fcitx5/rime/build/
.local/fcitx5/rime/easy_english.userdb/
.local/fcitx5/rime/sync/
.local/fcitx5/rime/trash/
.local/fcitx5/rime/trash/
.local/fcitx5/rime/user.yaml
.local/fcitx5/rime/installation.yaml

obsidianConfig/workspace.json
obsidianConfig/plugins/realclaudian/data.json
