attrs==26.1.0
autocommand==2.2.2
Automat==25.4.16
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.7
click==8.3.3
constantly==23.10.4
cryptography==49.0.0
cssselect==1.4.0
dbus-python==1.4.0
ecdsa==0.19.2
epc==0.0.5
evdev==1.9.3
filelock==3.29.3
gbinder-python==1.3.1
gps==3.27.5
hyperlink==21.0.0
i3ipc==2.2.1
idna==3.18
Incremental==24.11.0
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
legacy-cgi==2.6.4
libevdev==0.13.1
libmsym==0.2.4
lit==22.1.8.dev0
lxml==6.1.1
Mako==1.3.12.dev0
Markdown==3.10.2
MarkupSafe==3.0.3
mercurial==7.2.3
meson==1.11.2
more-itertools==11.1.0
netsnmp-python==1.0a1
nftables==0.1
nwg-displays==0.4.3
OpenCC==1.3.2
OpenTimelineIO==0.18.1
packaging==26.2
pefile==2024.8.26
pillow==12.3.0
pkg_resources==81.0.0
platformdirs==4.10.1
psutil==7.2.2
pyaaf2==1.7.1
pyasn1==0.6.4
pycairo==1.29.0
pycparser==3.0
pygame_sdl2==2.1.0
pygdbmi==0.11.0.0
PyGObject==3.56.3
PyQt6==6.11.0
PyQt6-WebEngine==6.11.0
PyQt6_sip==13.11.1
pyquery==2.0.2
PySide6==6.11.1
pytesseract==0.3.13
python-xlib==0.33
pyudev==0.24.4
PyYAML==6.0.3
QtPy==2.4.3
requests==2.34.2
rsa==4.9.1
sentry-sdk==2.66.0
setproctitle==1.3.7
setuptools==83.0.0
sexpdata==1.0.2
shiboken6==6.11.1
six==1.17.0
smbus==1.1
spglib==2.7.1.dev0+g12355c77f.d20260527
TBB @ file:///build/onetbb/src/build/python/python_build
tld==0.13.2
tqdm==4.69.0
Twisted==26.4.0
typing_extensions==4.16.0
urllib3==2.7.0
VapourSynth==77
wheel==0.47.0
yt-dlp==2026.7.4
yt-dlp-ejs==0.8.0
ytmusicapi==1.12.1
zope.interface==8.5
